
.logo a{
	text-align: center;
}

.navbar-default .navbar-nav>li>a{
	color: #19d0cd;
	font-weight: bold;
	text-align: center;	
}

.jumbotron h1{
	text-align: center;
	color:#19d0cd;
	margin-top: 0;
	margin-bottom:0;

}

.jumbo{
	padding: 1%;
}


.map-responsive{
	overflow:hidden;
	padding-bottom:50%;
	position:relative;
	height:0;
}
.map-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.container h2{
	text-align: center;
	font-weight: bold;
}


footer{
	background-color: #F1EFEF;
	padding-bottom: 1%;
	display: block;
}

.btn-enviar{
	padding: 10px;
	border-radius: 20px;
	border: 2px solid; 
	background-color: white;
	font-weight: bold;
	width: 100%;
	outline: none;
	margin-bottom: 3%;

}

.btn-enviar:hover{
	background-color: #19d0cd;
	padding: 10px;
}

.submit{
	padding: 10px;
	margin: 12px;
	border-radius: 20px;
	border: 2px solid; 
	background-color: white;
	font-weight: bold;
	width: 100%;
	outline: none;



}

.submit:hover{
	background-color: #19d0cd;
	padding: 10px;
}


.form_nome{
	border-radius: 20px;
	border: 2px solid;
	outline: none;
	padding: 10px;
	margin: 10px;


}

.form_email{
	border-radius: 20px;
	border: 2px solid;
	outline: none;
	padding: 10px;
	margin: 10px;

}

.form_telefone{
	border-radius: 20px;
	border: 2px solid;
	outline: none;
	padding: 10px;
	margin: 10px;
}


.texto-area{
	border-radius: 20px;
	height: 105px;
	width: 100%;
	border: 2px solid; 
	outline: none;
	resize: none;
	padding: 10px;
	margin: 10px;

}

.info-pessoais input{
	border-radius: 20px;
	border: 2px solid;
	outline: none;
	padding: 6px;
	margin-bottom: 3%;

}
.info-endereco input{
	border-radius: 20px;
	border: 2px solid;
	outline: none;
	padding: 6px;
	margin-bottom: 3%;
}
.info-contato input{
	border-radius: 20px;
	border: 2px solid;
	outline: none;
	padding: 6px;
	margin-bottom: 3%;
}

.btn-arquivo{
	margin-bottom: 10px;
	font-size: 16px;
}



@media (max-width:768px){

	.contato, .redes-sociais{
		text-align: center;
	}
}

@media (min-width: 992px){
	.nav>li{
		display:inline-block;
		padding-left: 23px;	
	}
	.nav{
		padding-left: 16%;
	}

}

@media (min-width: 1024px){
	.tc_cidade{
		width: 64%;
		margin-right: 10px;
	}
}


